/*CSS Styling*/
@import url("https://fonts.google.com/specimen/Open+Sans+Condensed");

body {
  font-family: "Open Sans Condensed" Arial, Helvetica;
  font-style: italic;
  background: #fafbfc;
}

.img-fluid {
  width: 160px;
  height: 190px;
  border-radius: 50%;
}

#contactInfo {
  text-align: center;
}
